{% extends 'base.html.twig' %}

{% block title %}Choisir son Park{% endblock %}

{% block body %}

<div class="container-fluid js-filter" id="containerSkatepark">
    <div class="d-flex justify-content-end mt-3 mr-3 js-filter-sorting">
        {% include 'frontend/sorting.html.twig' %}
    </div>
    <div class="row justify-content-around mt-3 js-filter-content">
        {% include 'frontend/skateparks.html.twig' %}
    </div>
    <div class="pagination mt-4">
        <div class="pagination_numbers mx-auto">
            {{ knp_pagination_render(skatepark) }}
        </div>
    </div>
</div>

{% endblock %}
